:root {
  
  --error-color: #B00020;
  
  --primary: #bdbdbd;
  --primary-light:#efefef;
  --primary-dark: #8d8d8d;
  --text: black;
}
body {
  max-width: 35em;
    background-color: var(--primary);
    color: var(--text);
    font-family: sans-serif;
    padding: 0pt;
    font-size: 1em;
  }
img{
  margin:auto;
}
#dataList{
  max-height: 200px;
  width: 100px;
}
.btnClose{
  margin: 4px;
  margin-left: auto;
}

#menu{
  position: fixed;
  width: 75%;
  padding: 8px;
  top: 64px;
  right: 24px;
  visibility: hidden;
  background-color: var(--primary-dark);
  color: var(--text);
}
#menuhead{
  text-align: right;
  background-color:var(--primary-light);
}
#boxQrcode{
  z-index: 3;
  position: fixed;
  top: 4px;
  left: 4px;
  width: 98vw;
  height: 98vh;
  visibility: hidden;
  background-color: var(--primary-light);
}
li{
  padding: 16px;
}
  .input{
    margin-top: 16px;
    margin-right: 16px;
  }
  .btnAdd{
    margin-left: 8px;
  }
  button{
    font-size: 16px;
    
  }
  .navbar{
      display: flex;
      justify-content : space-between;
      background-color: var(--primary-dark);
      margin: 0pt;
      padding:4pt;
  }
  .navbarmiddle{
      font-size: 14pt;
      font-weight: bold;
      margin-top: 4pt;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--primary-light);
  }
  
  td, th {
    border: 1px solid var(--primary-dark);
    padding: 4px;
    text-align: left;
  }
  .output{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  input[type=text] {
    
    background-color:var(--primary-light);
    color: var(--text);
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  .infoBox{
    visibility: hidden;
    background-color: var(--primary-light);
    padding: 4px;
    margin-top: 16px;
  }